{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="{% static 'img/MelonLogo.jpg' %}" type="image/x-icon">
	<title>MelonSoft</title>
</head>
<body>
	
	<img src='{% static "img/MelonLogo.jpg" %}' >
	<h1>MELONSoft Consultores RPA</h1>
	<h2>Desarrollamos Software RPA para toda la industria</h2>
	<h3>Automatizamos procesos AFIP(Argentina), SII(Chile)
	<h3>Contactos: diego.xmen123@gmail.com<h3>
	<h4> Pagina en Construccion </h4>

</body>
</html>