{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="eq_-ZdlGAQ8yk_5KnoZbDMsj-m1B3fPL-26mV-5A4kE" />
    <link rel="icon" href="{% static 'img/MelonLogo.jpg' %}" type="image/x-icon">
    <title>MelonSoft</title>
    <!-- Agregar el enlace al archivo Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="text-center">

    <div class="container">
        <img src='{% static "img/MelonLogo.jpg" %}' class="img-fluid" alt="MelonSoft Logo">
        <h1 class="mt-3">MELONSoft Consultores RPA</h1>
        <h2>Desarrollamos Software RPA para toda la industria</h2>
        <h3>Automatizamos procesos AFIP(Argentina), SII(Chile)</h3>
        <h3>Contactos: diego.xmen123@gmail.com</h3>
        <h4> Página en Construcción </h4>
    </div>

    <!-- Agregar el enlace al archivo Bootstrap JS y jQuery (necesario para ciertos componentes de Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
